# Insert Results Data
- Needs to under stand the Use case/(Business need) from this results table 
- Missing mapping between results table to Events table 
- Changed some data Typesof a column from the initail sciprt 
- Removed some constraints created on the results table 



#### ToDo:
- Error handling 
- Data Types Validation 
- Data Quality Chekck

In [1]:
import pandas as pd
from io import BytesIO
from minio import Minio
from sqlalchemy import create_engine, text
from fuzzywuzzy import fuzz

In [2]:
# Initialize Minio client
minio_client = Minio(
    "minio:9000",
    access_key="minioadmin",
    secret_key="minioadmin",
    secure=False
)

In [3]:
# Initialize connection to the PostgreSQL database using SQLAlchemy
engine = create_engine('postgresql://admin:admin@pgdb/postgres')

In [7]:
# Download the drivers CSV file from the Minio bucket into a pandas DataFrame
driverdata = minio_client.get_object("track.data-raw", "drivers.csv")
driverdata = BytesIO(driverdata.read())
df_drivercsv = pd.read_csv(driverdata)
# display(df_drivercsv)

df_drivercsv = df_drivercsv.rename(columns={"driverId":"driver_id","driverRef":"driver_ref"})

df_drivercsv = df_drivercsv[['driver_id','driver_ref','number','code','forename','surname','dob','nationality']]

df_drivercsv['surname'] = df_drivercsv['surname'].apply(lambda x: x.replace("'", ""))

# df2=df_drivercsv.where(df_drivercsv.driver_id == 567).dropna()
# display(df_drivercsv)
# display(df_drivercsv)
# len(df_drivercsv)

if len(df_drivercsv)>0:
    
    driversquery = text(f""" 
    INSERT INTO race_data.drivers(driver_id,driver_ref,number,code,forename,surname,dob,nationality)
    VALUES {','.join([str(i) for i in list(df_drivercsv.to_records(index=False))])}
    """)

    # engine.execute(query)
    with engine.begin() as connection:
        connection.execute(driversquery)

In [37]:
# Download the constructor CSV file from the Minio bucket into a pandas DataFrame

constructordata = minio_client.get_object("track.data-raw", "constructors.csv")
constructordata = BytesIO(constructordata.read())
df_constructorcsv = pd.read_csv(constructordata)

# display(df_constructorcsv)
df_constructorcsv = df_constructorcsv.rename(columns={"constructorId":"constructor_id","nationality":"country"})

df_constructorcsv = df_constructorcsv[['constructor_id','name']]

if len(df_constructorcsv)>0:
    
    constructorquery = text(f""" 
    INSERT INTO race_data.constructors(constructor_id,name)
    VALUES {','.join([str(i) for i in list(df_constructorcsv.to_records(index=False))])}
    """)

    # engine.execute(query)
    with engine.begin() as connection:
        connection.execute(constructorquery)

In [38]:
# Download the status CSV file from the Minio bucket into a pandas DataFrame

statusdata = minio_client.get_object("track.data-raw", "status.csv")
statusdata = BytesIO(statusdata.read())
df_statuscsv = pd.read_csv(statusdata)

# display(df_statuscsv)
df_statuscsv = df_statuscsv.rename(columns={"statusId":"status_id"})

df_statuscsv = df_statuscsv[['status_id','status']]

# display(df_statuscsv)
if len(df_statuscsv)>0:
    
    statusquery = text(f""" 
    INSERT INTO race_data.status(status_id,status)
    VALUES {','.join([str(i) for i in list(df_statuscsv.to_records(index=False))])}
    """)
    # engine.execute(query)
    with engine.begin() as connection:
        connection.execute(statusquery)

In [39]:
# Download the Results CSV file from the Minio bucket into a pandas DataFrame
resultdata = minio_client.get_object("track.data-raw", "results.csv")
resultdata = BytesIO(resultdata.read())
df_resultcsv = pd.read_csv(resultdata)
# display(df_resultcsv)
# df = df_csv.where(df_csv["circuitId"] == 2)
# len(df_resultcsv)

df_resultcsv = df_resultcsv.rename(columns={"resultId":"result_id","driverId":"driver_id","constructorId":"constructor_id","fastestLapTime":"fastest_lap_time","fastestLapSpeed":"fastest_lap_speed","statusId":"status_id"})

df_resultcsv = df_resultcsv[['result_id','driver_id','constructor_id','number','grid','position','points','laps','time','fastest_lap_time','rank','fastest_lap_speed','status_id']]
df_resultcsv = df_resultcsv.replace("\\N", -999)

df_resultcsv.head(40)

,result_id,driver_id,constructor_id,number,grid,position,points,laps,time,fastest_lap_time,rank,fastest_lap_speed,status_id
0,1,1,1,22,1,1,10.0,58,1:34:50.616,1:27.452,2,218.300,1
1,2,2,2,3,5,2,8.0,58,+5.478,1:27.739,3,217.586,1
2,3,3,3,7,7,3,6.0,58,+8.163,1:28.090,5,216.719,1
3,4,4,4,5,11,4,5.0,58,+17.181,1:28.603,7,215.464,1
4,5,5,1,23,3,5,4.0,58,+18.014,1:27.418,1,218.385,1
5,6,6,3,8,13,6,3.0,57,-999,1:29.639,14,212.974,11
6,7,7,5,14,17,7,2.0,55,-999,1:29.534,12,213.224,5
7,8,8,6,1,15,8,1.0,53,-999,1:27.903,4,217.180,5
8,9,9,2,4,2,-999,0.0,47,-999,1:28.753,9,215.100,4
9,10,10,7,12,18,-999,0.0,43,-999,1:29.558,13,213.166,3
10,11,11,8,18,19,-999,0.0,32,-999,1:30.892,15,210.038,7
11,12,12,4,6,20,-999,0.0,30,-999,1:31.384,16,208.907,8
12,13,13,6,2,4,-999,0.0,29,-999,1:28.175,6,216.510,5
13,14,14,9,9,8,-999,0.0,25,-999,1:29.502,11,213.300,4
14,15,15,7,11,6,-999,0.0,19,-999,1:29.310,10,213.758,10
15,16,16,10,20,22,-999,0.0,8,-999,1:32.021,17,207.461,9
16,17,17,9,10,14,-999,0.0,0,-999,-999,-999,-999,4
17,18,18,11,16,12,-999,0.0,0,-999,-999,-999,-999,4
18,19,19,8,19,21,-999,0.0,0,-999,-999,-999,-999,4
19,20,20,5,15,9,-999,0.0,0,-999,-999,-999,-999,4
20,21,21,10,21,16,-999,0.0,0,-999,-999,-999,-999,4
21,22,22,11,17,10,-999,0.0,58,-999,1:28.736,8,215.141,2
22,23,8,6,1,2,1,10.0,56,1:31:18.555,1:35.405,2,209.158,1
23,24,9,2,4,4,2,8.0,56,+19.570,1:35.921,6,208.033,1
24,25,5,1,23,8,3,6.0,56,+38.450,1:35.922,7,208.031,1
25,26,15,7,11,3,4,5.0,56,+45.832,1:36.068,8,207.715,1
26,27,1,1,22,9,5,4.0,56,+46.548,1:35.462,3,209.033,1
27,28,2,2,3,5,6,3.0,56,+49.833,1:35.366,1,209.244,1
28,29,17,9,10,6,7,2.0,56,+1:08.130,1:36.696,12,206.366,1
29,30,4,4,5,7,8,1.0,56,+1:10.041,1:36.288,10,207.240,1
30,31,14,9,9,12,9,0.0,56,+1:16.220,1:36.206,9,207.417,1
31,32,18,11,16,11,10,0.0,56,+1:26.214,1:35.715,4,208.481,1
32,33,12,4,6,13,11,0.0,56,+1:32.202,1:36.956,15,205.812,1
33,34,21,10,21,17,12,0.0,55,-999,1:36.962,16,205.800,11
34,35,22,11,17,14,13,0.0,55,-999,1:36.693,11,206.372,11
35,36,3,3,7,16,14,0.0,55,-999,1:36.782,13,206.182,11
36,37,19,8,19,21,15,0.0,55,-999,1:38.171,18,203.265,11
37,38,11,8,18,19,16,0.0,54,-999,1:38.504,19,202.578,12
38,39,6,3,8,22,17,0.0,54,-999,1:37.711,17,204.222,12
39,40,20,5,15,15,-999,0.0,39,-999,1:36.870,14,205.995,5

In [40]:
# Insert result data into table  

if len(df_resultcsv)>0:
    
    resultsquery = text(f""" 
    INSERT INTO race_data.results(result_id,driver_id,constructor_id,number,grid,position,points,laps,time,fastest_lap_time,rank,fastest_lap_speed,status_id)
    VALUES {','.join([str(i) for i in list(df_resultcsv.to_records(index=False))])}
    """)
    # engine.execute(query)
    with engine.begin() as connection:
        connection.execute(resultsquery)

In [41]:
# # Query the database to get the events data 
# df_events = pd.read_sql("SELECT * FROM race_data.events", engine)
# display(df_events)

In [42]:
# # Query the database to get the Season data 
# df_season = pd.read_sql("SELECT * FROM race_data.season", engine)
# display(df_season)

In [43]:
# # Get evengts dataset from 2021 onwards
# df_2021events = df_events.merge(df_season,how='inner',on =["season_id"])
# df_2021events = df_2021events[df_2021events['year'] >= 2021]
# # len(df_2021events)
# display(df_2021events)

In [44]:
# # Get the results dataset from 2021 onwards
# df_results = df_resultcsv.merge(df_2021events,how ='inner',on =["event_id"])

In [45]:
# # Merge the both dataframes and get result dataframe
# df_result = pd.merge(df_csv, df_db['name'],
#                        how='left', on=['name'],indicator=True)

# len(df_result)
# # display(df_result)