# Update circuits

This script searches for new circuits from the 'circuits.csv' file in the Minio object store. It compares them against circuits already listed in the database and inserts any new ones.

#### ToDo:
- Improve the matching logic, it is susceptible to false positives.
- Quarantine records that may be incorrect.
- Add a results reporting function.
- Add additional metadata.
- Make logic performance improvements.

In [1]:
import pandas as pd
from io import BytesIO
from minio import Minio
from sqlalchemy import create_engine, text
from fuzzywuzzy import fuzz

In [2]:
# Initialize Minio client
minio_client = Minio(
    "minio:9000",
    access_key="minioadmin",
    secret_key="minioadmin",
    secure=False
)

# Download the CSV file from the Minio bucket into a pandas DataFrame
data = minio_client.get_object("track.data-raw", "circuits.csv")
data = BytesIO(data.read())
df_csv = pd.read_csv(data)
# display(df_csv)
# df = df_csv.where(df_csv["circuitId"] == 2)
len(df_csv)

77

In [3]:
# Initialize connection to the PostgreSQL database using SQLAlchemy
engine = create_engine('postgresql://admin:admin@pgdb/postgres')

In [4]:
# Query the database to get the current circuits
df_db = pd.read_sql("SELECT * FROM race_data.circuits", engine)

In [5]:
# Merge the both results and get result dataframe
df_result = pd.merge(df_csv, df_db['name'],
                       how='left', on=['name'],indicator=True)

len(df_result)
display(df_result)

,circuitId,circuitRef,name,location,country,lat,lng,alt,url,_merge
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...,left_only
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...,left_only
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...,both
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...,both
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park,left_only
...,...,...,...,...,...,...,...,...,...,...
72,75,portimao,Autódromo Internacional do Algarve,Portimão,Portugal,37.22700,-8.62670,108,http://en.wikipedia.org/wiki/Algarve_Internati...,both
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.99750,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit,both
74,77,jeddah,Jeddah Corniche Circuit,Jeddah,Saudi Arabia,21.63190,39.10440,15,http://en.wikipedia.org/wiki/Jeddah_Street_Cir...,left_only
75,78,losail,Losail International Circuit,Al Daayen,Qatar,25.49000,51.45420,\N,http://en.wikipedia.org/wiki/Losail_Internatio...,left_only
76,79,miami,Miami International Autodrome,Miami,USA,25.95810,-80.23890,\N,http://en.wikipedia.org/wiki/Miami_Internation...,both

In [6]:
df_final = df_result[df_result['_merge'] == 'left_only']
df_final = df_final[['circuitRef', 'name','location','lat','lng']]
df_final = df_final.rename(columns={'circuitRef': 'circuit_reference'})
# len(df_final)
# display(df_final)
df_final.to_sql('race_data.circuits', engine)

60

In [7]:
# The values need to be adapted according to the columns in your table
# insert_query = text("""
# INSERT INTO race_data.circuits 
# (circuit_reference, name, location, lat, lng) 
# VALUES (:circuitRef, :name, :location, :lat, :lng)
# """)
# csv_circuit_dict = df_final.to_dict()
# with engine.begin() as connection:
#     connection.execute(insert_query, csv_circuit_dict)

In [8]:
# Define a threshold for the fuzz.ratio. This depends on how strict you want your matching to be.
threshold = 80

In [9]:
# for index, row in df_csv.iterrows():
#     csv_circuit_name = row['name']
#     csv_circuit = row[['circuitId', 'circuitRef', 'name', 'location', 'lat', 'lng']]
#     match_found = False

#     for _, db_row in df_db.iterrows():
#         db_circuit_name = db_row['name']

#         # Compare the circuit names using fuzzy matching
#         if fuzz.ratio(csv_circuit_name.lower(), db_circuit_name.lower()) > threshold:
#             match_found = True
#             break

#     # If no match is found, upsert the circuit into the database
#     if not match_found:
#         # The values need to be adapted according to the columns in your table
#         print("I am inside")
#         insert_query = text("""
#         INSERT INTO race_data.circuits 
#         (circuit_reference, name, location, lat, lng) 
#         VALUES (:circuitRef, :name, :location, :lat, :lng)
#         """)
#         csv_circuit_dict = csv_circuit.to_dict()
#         del csv_circuit_dict['circuitId']  # remove 'circuitId' from the dict if it exists
#         with engine.begin() as connection:
#             connection.execute(insert_query, csv_circuit_dict)

In [10]:
# Show the final ressult for circuits:
# Query the database to get the current circuits
df_db = pd.read_sql("SELECT * FROM race_data.circuits", engine)

# Set max rows displayed in output to None
pd.set_option('display.max_rows', None)

# Display the DataFrame
df_db

,circuit_id,circuit_reference,name,location,lat,lng
0,1,Montreal,Circuit Gilles-Villeneuve,Montreal,45.5060,-73.525
1,2,Melbourne,Melbourne Grand Prix Circuit,Melbourne,-37.8497,144.968
2,3,Spielberg,Red Bull Ring,Spielberg,47.2230,14.761
3,4,Silverstone,Silverstone Circuit,Silverstone,52.0720,-1.017
4,5,Barcelona,Circuit de Barcelona-Catalunya,Montmelo,41.5690,2.261
5,6,Spa,Circuit de Spa-Francorchamps,Spa Francorchamps,50.4360,5.971
6,7,Monza,Autodromo Nazionale Monza,Monza,45.6210,9.290
7,8,Sochi,Sochi Autodrom,Sochi,43.4070,39.960
8,9,Nurburgring,Nürburgring,Nürburg,50.3340,6.943
9,10,Portimao,Autódromo Internacional do Algarve,Portimão,37.2320,-8.628
10,11,Mugello,Autodromo Internazionale del Mugello,Scarperia e San Piero,43.9980,11.372
11,12,Sakhir,Bahrain International Circuit,Sakhir,26.0310,50.512
12,13,Imola,Autodromo Internazionale Enzo e Dino Ferrari,Imola,44.3430,11.716
13,14,Monaco,Circuit de Monaco,Monte Carlo,43.7350,7.421
14,15,Baku,Baku City Circuit,Baku,40.3720,49.853
15,16,Paul Ricard,Circuit Paul Ricard,Le Castellet,43.2510,5.793
16,17,Hungaroring,Hungaroring,Mogyorod,47.5810,19.250
17,18,Zandvoort,Circuit Zandvoort,Zandvoort,52.3890,4.541
18,19,Hanoi,Hanoi Street Circuit,Hanoi,21.0210,105.843
19,20,Austin,Circuit of The Americas,Austin,30.1330,-97.641
20,21,Mexico,Autódromo Hermanos Rodríguez,Mexico City,19.4060,-99.090
21,22,Jeddah,Jeddah Street Circuit,Jeddah,21.5270,39.187
22,23,Abu Dhabi,Yas Marina Circuit,Abu Dhabi,24.4700,54.603
23,24,Las Vegas,Las Vegas Street Circuit,Las Vegas,36.1690,-115.136
24,25,Miami,Miami International Autodrome,Miami,25.7780,-80.202

In [11]:
## Check for false positives

In [12]:
# Define the last_index variable to track the last index used in the DataFrame
last_index = 0

# Define an empty DataFrame
duplicates = pd.DataFrame(columns=['index1', 'index2', 'circuit_reference1', 'circuit_reference2', 'name1', 'name2', 'location1', 'location2', 'score'])

for i in range(len(df_db)):
    for j in range(i+1, len(df_db)):
        circuit_reference1 = df_db.iloc[i]['circuit_reference']
        circuit_reference2 = df_db.iloc[j]['circuit_reference']
        name1 = df_db.iloc[i]['name']
        name2 = df_db.iloc[j]['name']
        location1 = df_db.iloc[i]['location']
        location2 = df_db.iloc[j]['location']
        
        # Calculate the fuzzy match score for circuit_reference, name and location fields
        circuit_reference_score = fuzz.ratio(circuit_reference1.lower(), circuit_reference2.lower())
        name_score = fuzz.ratio(name1.lower(), name2.lower())
        location_score = fuzz.ratio(location1.lower(), location2.lower())
        
        # If the score is above a threshold (e.g. 80) for circuit_reference, name or location, consider them as potential duplicates
        if circuit_reference_score > 80 or name_score > 80 or location_score > 80:
            duplicates.loc[last_index] = {
                'index1': df_db.iloc[i]['circuit_id'],
                'index2': df_db.iloc[j]['circuit_id'],
                'circuit_reference1': circuit_reference1,
                'circuit_reference2': circuit_reference2,
                'name1': name1,
                'name2': name2,
                'location1': location1,
                'location2': location2,
                'score': max(circuit_reference_score, name_score, location_score)
            }
            last_index += 1

# Show the potential duplicates
duplicates

Empty DataFrame
Columns: [index1, index2, circuit_reference1, circuit_reference2, name1, name2, location1, location2, score]
Index: []