# Update circuits

This script searches for new circuits from the 'circuits.csv' file in the Minio object store. It compares them against circuits already listed in the database and inserts any new ones.

#### ToDo:
- Improve the matching logic, it is susceptible to false positives.
- Quarantine records that may be incorrect.
- Add a results reporting function.
- Add additional metadata.
- Make logic performance improvements.

In [122]:
import pandas as pd
from io import BytesIO
from minio import Minio
from sqlalchemy import create_engine, text
from fuzzywuzzy import fuzz

In [123]:
# Initialize Minio client
minio_client = Minio(
    "minio:9000",
    access_key="minioadmin",
    secret_key="minioadmin",
    secure=False
)

In [124]:
# Initialize connection to the PostgreSQL database using SQLAlchemy
engine = create_engine('postgresql://admin:admin@pgdb/postgres')

In [112]:
# Download the drivers CSV file from the Minio bucket into a pandas DataFrame
driverdata = minio_client.get_object("track.data-raw", "drivers.csv")
driverdata = BytesIO(driverdata.read())
df_drivercsv = pd.read_csv(driverdata)
# display(df_drivercsv)

df_drivercsv = df_drivercsv.rename(columns={"driverId":"driver_id","driverRef":"driver_ref"})

df_drivercsv = df_drivercsv[['driver_id','driver_ref','number','code','forename','surname','dob','nationality']]

df_drivercsv['surname'] = df_drivercsv['surname'].apply(lambda x: x.replace("'", ""))

# df2=df_drivercsv.where(df_drivercsv.driver_id == 567).dropna()
# display(df_drivercsv)
# display(df_drivercsv)
# len(df_drivercsv)

if len(df_drivercsv)>0:
    
    driversquery = text(f""" 
    INSERT INTO race_data.drivers(driver_id,driver_ref,number,code,forename,surname,dob,nationality)
    VALUES {','.join([str(i) for i in list(df_drivercsv.to_records(index=False))])}
    """)

    # engine.execute(query)
    with engine.begin() as connection:
        connection.execute(driversquery)

,driver_id,driver_ref,number,code,forename,surname,dob,nationality
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish
...,...,...,...,...,...,...,...,...
852,854,mick_schumacher,47,MSC,Mick,Schumacher,1999-03-22,German
853,855,zhou,24,ZHO,Guanyu,Zhou,1999-05-30,Chinese
854,856,de_vries,21,DEV,Nyck,de Vries,1995-02-06,Dutch
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American

In [111]:
# Download the constructor CSV file from the Minio bucket into a pandas DataFrame

constructordata = minio_client.get_object("track.data-raw", "constructors.csv")
constructordata = BytesIO(constructordata.read())
df_constructorcsv = pd.read_csv(constructordata)

# display(df_constructorcsv)
# df_constructorcsv = df_constructorcsv.rename(columns={"constructorId":"constructor_id","nationality":"country"})

# df_constructorcsv = df_constructorcsv[['constructor_id','name']]

if len(df_constructorcsv)>0:
    
    constructorquery = text(f""" 
    INSERT INTO race_data.constructors(constructor_id,name)
    VALUES {','.join([str(i) for i in list(df_constructorcsv.to_records(index=False))])}
    """)

    # engine.execute(query)
    with engine.begin() as connection:
        connection.execute(constructorquery)

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso
...,...,...,...,...,...
206,209,manor,Manor Marussia,British,http://en.wikipedia.org/wiki/Manor_Motorsport
207,210,haas,Haas F1 Team,American,http://en.wikipedia.org/wiki/Haas_F1_Team
208,211,racing_point,Racing Point,British,http://en.wikipedia.org/wiki/Racing_Point_F1_Team
209,213,alphatauri,AlphaTauri,Italian,http://en.wikipedia.org/wiki/Scuderia_AlphaTauri
210,214,alpine,Alpine F1 Team,French,http://en.wikipedia.org/wiki/Alpine_F1_Team

In [115]:
# Download the status CSV file from the Minio bucket into a pandas DataFrame

statusdata = minio_client.get_object("track.data-raw", "status.csv")
statusdata = BytesIO(statusdata.read())
df_statuscsv = pd.read_csv(statusdata)

# display(df_statuscsv)
df_statuscsv = df_statuscsv.rename(columns={"statusId":"status_id"})

df_statuscsv = df_statuscsv[['status_id','status']]

# display(df_statuscsv)
if len(df_statuscsv)>0:
    
    statusquery = text(f""" 
    INSERT INTO race_data.status(status_id,status)
    VALUES {','.join([str(i) for i in list(df_statuscsv.to_records(index=False))])}
    """)
    # engine.execute(query)
    with engine.begin() as connection:
        connection.execute(statusquery)

In [121]:
# Download the Results CSV file from the Minio bucket into a pandas DataFrame
resultdata = minio_client.get_object("track.data-raw", "results.csv")
resultdata = BytesIO(resultdata.read())
df_resultcsv = pd.read_csv(resultdata)
display(df_resultcsv)
# df = df_csv.where(df_csv["circuitId"] == 2)
# len(df_resultcsv)

df_resultcsv = df_resultcsv.rename(columns={"resultId":"result_id","driverId":"driver_id","constructorId":"constructor_id","fastestLapTime":"fastest_lap_time","fastestLapSpeed":"fastest_lap_speed","statusId":"status_id"})

df_resultcsv = df_resultcsv[['result_id','driver_id','constructor_id','number','grid','position','points','laps','time','fastest_lap_time','rank','fastest_lap_speed','status_id']]

# display(df_resultcsv)

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26035,26041,1108,852,213,22,16,16,16,16,0.0,52,+31.225,5148163,48,17,1:32.084,230.307,1
26036,26042,1108,856,213,21,18,17,17,17,0.0,52,+33.128,5150066,48,18,1:32.353,229.636,1
26037,26043,1108,842,214,10,10,18,18,18,0.0,46,\N,\N,42,12,1:31.539,231.678,130
26038,26044,1108,825,210,20,19,\N,R,19,0.0,31,\N,\N,29,19,1:33.356,227.169,5
26039,26045,1108,839,214,31,13,\N,R,20,0.0,9,\N,\N,4,20,1:33.941,225.754,44

In [120]:
# Query the database to get the events data 
df_events = pd.read_sql("SELECT * FROM race_data.events", engine)
display(df_events)

,event_id,season_id,race_round,circuit_id,official_name,date
0,1,71,1,3.0,FORMULA 1 ROLEX GROSSER PREIS VON ÖSTERREICH 2020,None
1,2,71,2,3.0,FORMULA 1 PIRELLI GROSSER PREIS DER STEIERMARK...,None
2,3,71,3,NaN,FORMULA 1 ARAMCO MAGYAR NAGYDÍJ 2020,None
3,4,71,4,4.0,FORMULA 1 PIRELLI BRITISH GRAND PRIX 2020,None
4,5,71,5,4.0,EMIRATES FORMULA 1 70TH ANNIVERSARY GRAND PRIX...,None
...,...,...,...,...,...,...
68,69,74,7,14.0,FORMULA 1 GRAND PRIX DE MONACO 2023,None
69,70,74,8,5.0,FORMULA 1 AWS GRAN PREMIO DE ESPAÑA 2023,None
70,71,74,9,NaN,FORMULA 1 PIRELLI GRAND PRIX DU CANADA 2023,None
71,72,74,10,3.0,FORMULA 1 ROLEX GROSSER PREIS VON ÖSTERREICH 2023,None
72,73,74,11,4.0,FORMULA 1 ARAMCO BRITISH GRAND PRIX 2023,None

In [9]:
# Query the database to get the Season data 
df_season = pd.read_sql("SELECT * FROM race_data.season", engine)
display(df_season)

    season_id  championship_id  year
0           1                1  1950
1           2                1  1951
2           3                1  1952
3           4                1  1953
4           5                1  1954
..        ...              ...   ...
69         70                1  2019
70         71                1  2020
71         72                1  2021
72         73                1  2022
73         74                1  2023

[74 rows x 3 columns]

In [15]:
# Get evengts dataset from 2021 onwards
df_2021events = df_events.merge(df_season,how='inner',on =["season_id"])
df_2021events = df_2021events[df_2021events['year'] >= 2021]
# len(df_2021events)
display(df_2021events)

,event_id,season_id,race_round,circuit_id,official_name,date,championship_id,year
17,18,72,1,12.0,FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2021,None,1,2021
18,19,72,2,13.0,FORMULA 1 PIRELLI GRAN PREMIO DEL MADE IN ITAL...,None,1,2021
19,20,72,3,10.0,FORMULA 1 HEINEKEN GRANDE PRÉMIO DE PORTUGAL 2021,None,1,2021
20,21,72,4,5.0,FORMULA 1 ARAMCO GRAN PREMIO DE ESPAÑA 2021,None,1,2021
21,22,72,5,14.0,FORMULA 1 GRAND PRIX DE MONACO 2021,None,1,2021
22,23,72,6,15.0,FORMULA 1 AZERBAIJAN GRAND PRIX 2021,None,1,2021
23,24,72,7,16.0,FORMULA 1 EMIRATES GRAND PRIX DE FRANCE 2021,None,1,2021
24,25,72,8,3.0,FORMULA 1 BWT GROSSER PREIS DER STEIERMARK 2021,None,1,2021
25,26,72,9,3.0,FORMULA 1 BWT GROSSER PREIS VON ÖSTERREICH 2021,None,1,2021
26,27,72,10,4.0,FORMULA 1 PIRELLI BRITISH GRAND PRIX 2021,None,1,2021
27,28,72,11,NaN,FORMULA 1 ROLEX MAGYAR NAGYDÍJ 2021,None,1,2021
28,29,72,12,NaN,FORMULA 1 ROLEX BELGIAN GRAND PRIX 2021,None,1,2021
29,30,72,13,18.0,FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2021,None,1,2021
30,31,72,14,7.0,FORMULA 1 HEINEKEN GRAN PREMIO D’ITALIA 2021,None,1,2021
31,32,72,15,8.0,FORMULA 1 VTB RUSSIAN GRAND PRIX 2021,None,1,2021
32,33,72,16,NaN,FORMULA 1 ROLEX TURKISH GRAND PRIX 2021,None,1,2021
33,34,72,17,20.0,FORMULA 1 ARAMCO UNITED STATES GRAND PRIX 2021,None,1,2021
34,35,72,18,21.0,FORMULA 1 GRAN PREMIO DE LA CIUDAD DE MÉXICO 2021,None,1,2021
35,36,72,19,NaN,FORMULA 1 HEINEKEN GRANDE PRÊMIO DE SÃO PAULO ...,None,1,2021
36,37,72,20,NaN,FORMULA 1 OOREDOO QATAR GRAND PRIX 2021,None,1,2021
37,38,72,21,22.0,FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2021,None,1,2021
38,39,72,22,NaN,FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX ...,None,1,2021
39,40,73,2,12.0,FORMULA 1 ARAMCO PRE-SEASON TESTING 2022,None,1,2022
40,41,73,1,12.0,FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2022,None,1,2022
41,42,73,2,22.0,FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2022,None,1,2022
42,43,73,3,2.0,FORMULA 1 HEINEKEN AUSTRALIAN GRAND PRIX 2022,None,1,2022
43,44,73,4,13.0,FORMULA 1 ROLEX GRAN PREMIO DEL MADE IN ITALY ...,None,1,2022
44,45,73,5,25.0,FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2022,None,1,2022
45,46,73,6,5.0,FORMULA 1 PIRELLI GRAN PREMIO DE ESPAÑA 2022,None,1,2022
46,47,73,7,14.0,FORMULA 1 GRAND PRIX DE MONACO 2022,None,1,2022
47,48,73,8,15.0,FORMULA 1 AZERBAIJAN GRAND PRIX 2022,None,1,2022
48,49,73,9,NaN,FORMULA 1 AWS GRAND PRIX DU CANADA 2022,None,1,2022
49,50,73,10,4.0,FORMULA 1 LENOVO BRITISH GRAND PRIX 2022,None,1,2022
50,51,73,11,3.0,FORMULA 1 ROLEX GROSSER PREIS VON ÖSTERREICH 2022,None,1,2022
51,52,73,12,16.0,FORMULA 1 LENOVO GRAND PRIX DE FRANCE 2022,None,1,2022
52,53,73,13,NaN,FORMULA 1 ARAMCO MAGYAR NAGYDÍJ 2022,None,1,2022
53,54,73,14,NaN,FORMULA 1 ROLEX BELGIAN GRAND PRIX 2022,None,1,2022
54,55,73,15,18.0,FORMULA 1 HEINEKEN DUTCH GRAND PRIX 2022,None,1,2022
55,56,73,16,7.0,FORMULA 1 PIRELLI GRAN PREMIO D’ITALIA 2022,None,1,2022
56,57,73,17,NaN,FORMULA 1 SINGAPORE AIRLINES SINGAPORE GRAND P...,None,1,2022
57,58,73,18,NaN,FORMULA 1 HONDA JAPANESE GRAND PRIX 2022,None,1,2022
58,59,73,19,20.0,FORMULA 1 ARAMCO UNITED STATES GRAND PRIX 2022,None,1,2022
59,60,73,20,21.0,FORMULA 1 HEINEKEN GRAN PREMIO DE LA CIUDAD DE...,None,1,2022
60,61,73,21,NaN,FORMULA 1 HEINEKEN GRANDE PRÊMIO DE SÃO PAULO ...,None,1,2022
61,62,73,22,NaN,FORMULA 1 ETIHAD AIRWAYS ABU DHABI GRAND PRIX ...,None,1,2022
62,63,74,1,12.0,FORMULA 1 ARAMCO PRE-SEASON TESTING 2023,None,1,2023
63,64,74,1,12.0,FORMULA 1 GULF AIR BAHRAIN GRAND PRIX 2023,None,1,2023
64,65,74,2,22.0,FORMULA 1 STC SAUDI ARABIAN GRAND PRIX 2023,None,1,2023
65,66,74,3,2.0,FORMULA 1 ROLEX AUSTRALIAN GRAND PRIX 2023,None,1,2023
66,67,74,4,15.0,FORMULA 1 AZERBAIJAN GRAND PRIX 2023,None,1,2023
67,68,74,5,25.0,FORMULA 1 CRYPTO.COM MIAMI GRAND PRIX 2023,None,1,2023
68,69,74,7,14.0,FORMULA 1 GRAND PRIX DE MONACO 2023,None,1,2023
69,70,74,8,5.0,FORMULA 1 AWS GRAN PREMIO DE ESPAÑA 2023,None,1,2023
70,71,74,9,NaN,FORMULA 1 PIRELLI GRAND PRIX DU CANADA 2023,None,1,2023
71,72,74,10,3.0,FORMULA 1 ROLEX GROSSER PREIS VON ÖSTERREICH 2023,None,1,2023
72,73,74,11,4.0,FORMULA 1 ARAMCO BRITISH GRAND PRIX 2023,None,1,2023

In [ ]:
# Get the results dataset from 2021 onwards
df_results = df_resultcsv.merge(df_2021events,how ='inner',on =["event_id"])

In [11]:
# Merge the both dataframes and get result dataframe
df_result = pd.merge(df_csv, df_db['name'],
                       how='left', on=['name'],indicator=True)

len(df_result)
# display(df_result)

NameError: name 'df_csv' is not defined